In [28]:
import pandas as pd
import numpy as np

In [37]:
data= pd.read_csv('data/data_health/RAW_lifespan.csv')
data.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Life expectancy at birth (years),Both sexes,62.69
1,Afghanistan,2016,Life expectancy at birth (years),Male,61.04
2,Afghanistan,2016,Life expectancy at birth (years),Female,64.50
3,Afghanistan,2016,Life expectancy at age 60 (years),Both sexes,16.29
4,Afghanistan,2016,Life expectancy at age 60 (years),Male,15.49

In [38]:
data_lifespan = data[data['Indicator']=='Life expectancy at birth (years)']
data_lifespan = data_lifespan[data_lifespan['Dim1'] == 'Both sexes']
data_lifespan.drop(columns=['Indicator','Period','Dim1'],inplace=True)
data_lifespan.rename(columns={'First Tooltip':'Life span'},inplace=True)
data_lifespan

                                Location  Life span
0                            Afghanistan      62.69
12                               Albania      76.37
24                               Algeria      76.36
36                                Angola      62.63
48                   Antigua and Barbuda      75.00
...                                  ...        ...
2148  Venezuela (Bolivarian Republic of)      74.05
2160                            Viet Nam      76.34
2172                               Yemen      65.31
2184                              Zambia      62.33
2196                            Zimbabwe      61.45

[184 rows x 2 columns]

In [39]:
data_overweight= pd.read_csv('data/data_health/data_overweight.csv')
data_overweight.rename(columns={'First Tooltip':'Overweight(%)'},inplace=True)
data=pd.merge(data_lifespan,data_overweight[['Location','Overweight(%)']],on='Location')
data.head()

              Location  Life span     Overweight(%)
0          Afghanistan      62.69    23 [18.5-27.8]
1              Albania      76.37  57.7 [52.7-62.5]
2              Algeria      76.36    62 [57.4-66.6]
3               Angola      62.63  27.5 [22.1-33.3]
4  Antigua and Barbuda      75.00      48 [42.1-54]

In [40]:
data_sub= pd.read_csv('data/data_health/data_blood_glucose.csv')
data_sub.rename(columns={'First Tooltip':'HighBlood Glucose(%)'},inplace=True)
data=pd.merge(data,data_sub[['Location','High Blood Glucose(%)']],on='Location')
data.head()

              Location  Life span     Overweight(%) Blood Glucose(%)
0          Afghanistan      62.69    23 [18.5-27.8]  11.9 [8.1-16.5]
1              Albania      76.37  57.7 [52.7-62.5]   7.4 [4.7-11.1]
2              Algeria      76.36    62 [57.4-66.6]  12.4 [8.9-16.9]
3               Angola      62.63  27.5 [22.1-33.3]   8.2 [4.8-13.5]
4  Antigua and Barbuda      75.00      48 [42.1-54]    11.5 [7-17.5]

In [42]:
data_sub= pd.read_csv('data/data_health/data_blood_pressure.csv')
data_sub.rename(columns={'First Tooltip':'High Blood Pressure(%)'},inplace=True)
data=pd.merge(data,data_sub[['Location','High Blood Pressure(%)']],on='Location')
data.head()

,Location,Life span,Overweight(%),Blood Glucose(%),High Blood Pressure(%)
0,Afghanistan,62.69,23 [18.5-27.8],11.9 [8.1-16.5],30.6 [23.6-38.3]
1,Albania,76.37,57.7 [52.7-62.5],7.4 [4.7-11.1],29 [22.4-36.2]
2,Algeria,76.36,62 [57.4-66.6],12.4 [8.9-16.9],25.1 [19.4-31.5]
3,Angola,62.63,27.5 [22.1-33.3],8.2 [4.8-13.5],29.7 [22.1-38.3]
4,Antigua and Barbuda,75.00,48 [42.1-54],11.5 [7-17.5],23.4 [16.6-31.1]

In [43]:
data_sub= pd.read_csv('data/data_health/data_cholesterol.csv')
data_sub.rename(columns={'First Tooltip':'High Cholesterol(%)'},inplace=True)
data=pd.merge(data,data_sub[['Location','High Cholesterol(%)']],on='Location')
data.head()

,Location,Life span,Overweight(%),Blood Glucose(%),High Blood Pressure(%),High Cholesterol(%)
0,Afghanistan,62.69,23 [18.5-27.8],11.9 [8.1-16.5],30.6 [23.6-38.3],21.9 [11-36.5]
1,Albania,76.37,57.7 [52.7-62.5],7.4 [4.7-11.1],29 [22.4-36.2],45.3 [29.8-61]
2,Algeria,76.36,62 [57.4-66.6],12.4 [8.9-16.9],25.1 [19.4-31.5],39.4 [26.2-53.3]
3,Angola,62.63,27.5 [22.1-33.3],8.2 [4.8-13.5],29.7 [22.1-38.3],30.9 [15.2-50]
4,Antigua and Barbuda,75.00,48 [42.1-54],11.5 [7-17.5],23.4 [16.6-31.1],43 [25.1-61.5]

In [47]:
data_sub= pd.read_csv('data/data_health/data_non_communicationable_disease_death.csv')
data_sub.rename(columns={'First Tooltip':'NCD death probability(%)'},inplace=True)
data=pd.merge(data,data_sub[['Location','NCD death probability(%)']],on='Location')
data.head()

FileNotFoundError: [Errno 2] File b'data/data_health/data_non_communicationable_disease_death.csv' does not exist: b'data/data_health/data_non_communicationable_disease_death.csv'